@import '../../mixin.scss';

.mapContainer {
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .map {
    height: 100%;
    width: 100%;
    background: var(--map_bg);

    :global(.custom-div-icon) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      filter: brightness(2.5) sepia(1) saturate(0.8) hue-rotate(180deg);
      -webkit-filter: brightness(2.5) sepia(1) saturate(0.8) hue-rotate(180deg);
    }

    > .locationButton {
      z-index: 6000;
      @include flex_layout(row, center, center);
      position: absolute;
      right: 36px;
      bottom: 240px;
      height: 48px;
      width: 48px;
      color: #f2c82d;
      background: #212e40;
      font-size: 1.9rem;
      @include border_radius(30px);

      > svg {
        margin-left: -3px;
        margin-bottom: -3px;
      }
    }
  }
}

:global(.leaflet-marker-icon) {
  @include flex_layout(row, center, center);
  display: flex !important;
}
:global(.user-location-icon) {
  &:hover {
    > svg {
      height: 36px !important;
      width: auto;
    }
  }
  > svg {
    align-self: flex-end;
    height: 100%;
    @include transition(0.2s);
  }
}
:global(.station-closest-location-icon) {
  &:hover {
    > svg {
      height: 48px !important;
      width: auto;
    }
  }
  > svg {
    align-self: flex-end;
    height: 100%;
    @include transition(0.2s);
  }
}

:global(.station-location-icon) {
  &:hover {
    > svg {
      height: 24px !important;
      width: auto;
    }
  }
  > svg {
    align-self: flex-end;
    height: 100%;
    @include transition(0.2s);
  }
}

// 定位點彈出的 Tips
:global(.custom-tooltip) {
  @include border_radius(13px !important);
  padding: 9px 12px !important;

  > h3 {
    margin: 3px 0 3px -3px;
    padding: 2px 6px;
    width: fit-content;
    background: #ffffff3f;
    @include border_radius(6px);
  }
}
:global(.custom-tooltip):global(.leaflet-tooltip-top) {
  background-color: #4f4f4f;
  color: #ffffffc1;
  border: none;
}
:global(.custom-tooltip):global(.leaflet-tooltip-top)::before {
  border-top-color: #4f4f4f;
}

//
:global(.leaflet-control-attribution) {
  opacity: 0;
}
