@import '../../mixin.scss';

.mapContainer {
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .map {
    height: 100%;
    width: 100%;
    background: var(--map_bg);

    :global(.custom-div-icon) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      filter: brightness(2);
      -webkit-filter: brightness(2);
    }

    > .locationButton {
      z-index: 9000;
      @include flex_layout(row, center, center);
      position: absolute;
      right: 48px;
      bottom: 120px;
      height: 60px;
      width: 60px;
      background: var(--accent_color);
      color: #fff;
      font-size: 2rem;
      @include border_radius(30px);
    }
  }
}

:global(.custom-tooltip) {
  @include border_radius(13px !important);
  padding: 9px 12px !important;
}
:global(.custom-tooltip):global(.leaflet-tooltip-top) {
  background-color: #4f4f4f;
  color: #ffffffa1;
  border: none;
}
:global(.custom-tooltip):global(.leaflet-tooltip-top)::before {
  border-top-color: #4f4f4f;
}
