@import '../../mixin.scss';

.view {
  @include set_HW(100%, 100%);
  box-shadow: 0 0 80px 80px inset var(--map_bg);

  @media (max-width: 550px) {
    box-shadow: 0 0 40px 20px inset var(--map_bg),
      0 -180px 32px 16px inset var(--map_bg),
      0 96px 32px 16px inset var(--map_bg);
  }

  > .container {
    position: relative;
    z-index: 10;
    @include flex_layout(column, flex-start, space-between);

    @media (max-width: 550px) {
      padding: 48px 36px;
    }

    > .weatherLocalPreview {
      position: fixed;
      bottom: 0;
      left: 0;
      width: fit-content;
      padding: 48px;

      @media (max-width: 550px) {
        padding: 36px;
      }

      > * {
        width: fit-content;
      }

      > h1 {
        margin-bottom: 12px;

        > svg {
          margin-right: 12px;
        }
      }

      > p.weather {
        margin-bottom: 12px;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 3px 12px;
        background: #ffffff3f;
        @include border_radius(24px);
      }

      > p.locationPermissionDenied {
        z-index: 100;
        &.locationPermissionDenied {
          @include flex_layout(row, center, flex-start);
          padding: 3px 12px 3px 8px;
          font-size: 1rem;
          color: #ffffffd1;
          background: #951e1e;
          @include border_radius(24px);
        }

        > svg {
          margin-right: 6px;
        }
      }
      > p.error {
        margin: 24px 6px;
      }

      > .values {
        @include flex_layout(row, center, null);
        flex-wrap: wrap;
        width: 100%;

        > p {
          min-width: max-content;
          width: fit-content;
          margin: 3px 18px 3px 0;
          font-size: 1rem;
          color: #ffffff7f;
        }
      }
    }
  }

  > .mapView {
    z-index: 0;
    position: absolute;
    @include set_HW(100vh, 100vw);
    top: 0;
    left: 0;
  }
}
