@import './mixin.scss';

.app {
  @include set_HW(100%, auto);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  > main {
    @include flex_layout(row, null, null);
    // overflow-x: scroll;
  }
  -ms-overflow-style: none; /* IE 和 Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}
